<footer class="bg-dark text-white py-4 mt-5">
  <div class="container text-center">
    <p class="mb-1">&copy; {{ now|date:"Y" }} Hoten Group LLC. All rights reserved.</p>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="/" class="text-white">Home</a></li>
      <li class="list-inline-item"><a href="/inspections/" class="text-white">Inspections</a></li>
      <li class="list-inline-item"><a href="/contact/" class="text-white">Contact</a></li>
    </ul>
  </div>
</footer>

